html
  head
    title Добавить пользователя
  body
    h1 Добавление нового пользователя

    if error
      p(style="color:red")= error.message

    form(action="/users" method="post")
      div
        label Имя:
          input(type="text" name="name" value=name)
      div
        label Email:
          input(type="email" name="email" value=email)
      div
        label Пароль:
          input(type="password" name="password" value=password)
      div
        label Подтверждение пароля:
          input(type="password" name="passwordConfirmation" value=passwordConfirmation)
      div
        input(type="submit" value="Зарегистрировать")

